<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "VueJs",
    img: "https://img.icons8.com/color/512/vue-js.png",
    raring: 10,
  },
  {
    name: "AngularJs",
    img: "https://material.angularjs.org/latest/img/logo.svg",
    raring: 20,
  },
  {
    name: "ReactJs",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/512px-React-icon.svg.png?20220125121207",
    raring: 15,
  },
]);
function changeRating(index: number, raring: number) {
  console.log("action " + index + " :" + raring);
  frameList.value[index].raring = raring;
}
const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.raring - n1.raring);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.raring"
          :index="index"
          @change="changeRating"
        ></FrameworkPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <th>order</th>
            <th>name</th>
            <th>rating</th>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.raring }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
