<template>
  <v-container>
    <h1>- P O R T F O L I O -</h1>
  </v-container>
  <v-container>
    <v-row justify="center">
      <v-col cols="12">
        <v-table>
          <thead>
            <th>Introduce :</th>
            <th>Education :</th>
            <th>Education :</th>
            <th>Education :</th>
            <th>Interests :</th>
            <th>Interests :</th>
            <th>Interests :</th>
          </thead>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
  <v-timeline direction="horizontal" line-inset="12">
    <v-timeline-item dot-color="green">
      <template v-slot:opposite>
        <p><b>Firstname :</b> Chanatda</p>
        <p><b>Surname :</b> Prasawang</p>
      </template>
      <v-avatar size="100" rounded="1">
        <v-img
          cover
          src="https://media.discordapp.net/attachments/1044422970539511828/1053937933079543838/B86C37A2-B603-4235-A0E7-5FA5EC77898D.jpg?width=473&height=473"
        ></v-img>
      </v-avatar>
    </v-timeline-item>

    <v-timeline-item dot-color="blue">
      <template v-slot:opposite>
        <v-avatar size="100" rounded="1">
          <v-img
            cover
            src="https://www.srisuvit.ac.th/sites/default/files/S__106561552.jpg"
          ></v-img>
        </v-avatar>
      </template>

      <p><b>Junior High School :</b> Srisuvit School</p>
    </v-timeline-item>

    <v-timeline-item dot-color="blue">
      <template v-slot:opposite>
        <p><b>High School :</b> Si Racha School</p>
      </template>
      <v-avatar size="100" rounded="1">
        <v-img
          cover
          src="https://scontent.futp1-2.fna.fbcdn.net/v/t1.18169-9/1209211_647522368613878_675510225_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=cdbe9c&_nc_eui2=AeEYAAtuKoOegF-YMYfGWgrR3b9pqodvD4ndv2mqh28PicmylI2y5uThedXxnlfwWMjCvax_t-vz1IgMI0j7WA_h&_nc_ohc=C3qfaSfiTaQAX-Bh63h&_nc_ht=scontent.futp1-2.fna&oh=00_AfBEFMfGIq0aDJxe4sKtQWcPVlx_TdaD0M4Z99cmnyN_Ew&oe=63C64A3B"
        ></v-img>
      </v-avatar>
    </v-timeline-item>

    <v-timeline-item dot-color="blue">
      <template v-slot:opposite>
        <v-avatar size="100" rounded="3">
          <v-img
            cover
            src="https://itdang2009.com/wp-content/uploads/2020/03/%E0%B8%9B%E0%B8%81-7.jpg"
          ></v-img>
        </v-avatar>
      </template>
      <p>
        <b>Currently Studying For A Bachelor's Degree :</b> Burapha University
      </p>
    </v-timeline-item>

    <v-timeline-item dot-color="pink">
      <template v-slot:opposite
        ><p><b> Movie :</b> Avatar</p>
      </template>
      <v-avatar size="100" rounded="3">
        <v-img
          cover
          src="https://thestandard.co/wp-content/uploads/2020/09/UPDATE-James-Cameron-%E0%B9%80%E0%B8%9C%E0%B8%A2-Avatar-2-%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2%E0%B8%97%E0%B8%B3%E0%B9%80%E0%B8%AA%E0%B8%A3%E0%B9%87%E0%B8%88%E0%B9%80%E0%B8%A3%E0%B8%B5%E0%B8%A2%E0%B8%9A%E0%B8%A3%E0%B9%89%E0%B8%AD%E0%B8%A2-%E0%B8%AA%E0%B9%88%E0%B8%A7%E0%B8%99%E0%B8%A0%E0%B8%B2%E0%B8%84-3-%E0%B8%84%E0%B8%B7%E0%B8%9A%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2%E0%B9%84%E0%B8%9B%E0%B8%81%E0%B8%A7%E0%B9%88%E0%B8%B2-95-%E0%B9%80%E0%B8%9B%E0%B8%AD%E0%B8%A3%E0%B9%8C%E0%B9%80%E0%B8%8B%E0%B9%87%E0%B8%99%E0%B8%95%E0%B9%8C%E0%B9%81%E0%B8%A5%E0%B9%89%E0%B8%A73.jpg"
        ></v-img>
      </v-avatar>
    </v-timeline-item>

    <v-timeline-item dot-color="pink">
      <template v-slot:opposite>
        <v-avatar size="100" rounded="3">
          <v-img
            cover
            src="https://www.leagueoflegends.com/static/open-graph-2e582ae9fae8b0b396ca46ff21fd47a8.jpg"
          ></v-img>
        </v-avatar>
      </template>
      <p><b> Game :</b> League Of Legends</p>
    </v-timeline-item>

    <v-timeline-item dot-color="pink">
      <template v-slot:opposite>
        <p><b> Food :</b> Street Food</p>
      </template>
      <v-avatar size="100" rounded="3">
        <v-img
          cover
          src="https://en-media.thebetterindia.com/uploads/2022/08/Food-Streets-of-India-1659711816.jpg?compress=true&quality=80&w=1080&dpr=1.0"
        ></v-img>
      </v-avatar>
    </v-timeline-item>
  </v-timeline>
</template>
<style scoped>
h1 {
  text-align: center;
}
</style>
